@font-face {
		 	font-family: 'Playball', cursive;
			font-family: 'Merriweather', serif;		
		}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body{
	background-color:rgba(24, 39, 47, 1);
}

button{
	border:none;
	background-color: transparent;
	font-weight: 300;
}

a:visited, a:active ,a{
	color: #fff;
}
a:hover{
	text-decoration: none;
}


h1{
	text-align: center;
	color: #A29572;
	font-family: 'Playball';
	margin-top: 0px;
	font-size: 4em;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

h3,p,small,button, .sub{
	font-family: 'Merriweather';
	color:#fff;
}
h3, .sub{
	font-style: italic;	
}

p{
	font-weight: 300;
	font-size: 16px;
}

small{
	font-weight: lighter;
	font-style: italic;
	letter-spacing: 1px;
}
ul li{
			list-style-type: none;
		}
.azul{
	color:#18272F;
	font-weight: 700;
}

.container-fluid{
	padding: 0;
}
.nav-princ, .nav-user{
	position: fixed;
	
	width: 100%;
	font-style: italic;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 99;
}

.nav-princ{
	top:0;
	height: 45px;
}

.nav-user{
	margin-bottom: 0;
	padding-top: 8px;
	bottom: 0px;
	height: 32px;
}

.logo{		
	
	width: 6em;
	padding-top:.5rem;
	-webkit-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
		}	

.logo  img{	
	height: 40px;
}

.menu{
	margin-top: .5rem;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;

}

.menu nav ul li{
	margin-left: 15px;
	font-family: 'Merriweather';
	font-weight: 300;
}

.animacion{
			margin-top: 10rem;
			margin-bottom: 10rem;
		}

.inicio{
	background-image: url(../images/bg/bg-inicio.jpg);
}
.historia{
	background-image: url(../images/bg/bg-historia.jpg);
}
.tequilas{
	background-image: url(../images/bg/bg-tequilas.jpg);
}
.proceso{
	background-image: url(../images/bg/bg-proceso.jpg);
}
.eventos{
	background-image: url(../images/bg/bg-eventos.jpg);
}
.contacto{
	/*background-image: url(../images/bg/bg-contacto.jpg);*/
	background-color: #fff;
}
.btn-medallas,.btn-medallas2{
	margin-top:2.5rem;
	text-align: center;
	height: 65px;
	border-style: solid;
	border-color: #BEB172;
	border-width: 1px;
	border-radius: 0px;
	width: 100%;
}
.btn-medallas:hover, .btn-medallas2:hover{
	background-color:rgba(24, 39, 47, .7); 
}
.btn-medallas{
	padding: 2rem;
}
.btn-medallas2{
	padding: 1rem;
}

/***************TEQUILAS*****************/

.cont-teq{
	position: relative;
	width: 50%;
	float: left;
}
.img-teq{
	margin-left: 10%;
	float: left;
	width: 20%;
}
.img-teq img{
	height: 400px;
}
.cont-txt-teq{
	margin-left: 25%;
 	width: 60%;
	position: relative;
	top: 0px;
}
.txt-teq{

	font-family: 'Merriweather';
	color:#742832;
	font-size: 14px;
}
.cont-teq-m{
	width: 100%;
	height: auto;
	padding: 10px;
} 
.img-teq-m{
	width: 35%;
	text-align: center;
}

.img-teq-m > img{
	max-height: 400px!important;
}

.txt-teq-m{
	width: 60%;
	text-align: center;
}

.txt-teq-m, .img-teq-m{
	position:static;
	display: inline-block;
	top: 0px;
}




/****************PROCESO****************/

.contimg, .carousel-caption {
	display: inline-block;
	width: 35%;
	margin-right: 5%;
	margin-left:5%;
}

.contimg > img{
	width: 100%;
}

.item-p{
	background-image: url(../images/bg/papel2.png);
	padding-left: 10%;	
}
.carousel-caption {
/*	position: relative;
    top:10px;
    padding: 20px;*/
    text-align: left;
}

.item-p-txt{
	font-family: 'Playball';
    line-height: 1.3em;
    font-size: 1.5em;
    color:#18272F;
}


/************** GALERÃA *****************/
	.galeria{
		background-color: #fff;
	}
	.column { float: left; }
	.size-1of3 { width: 33.333%; }

	#grid img{
		width: 100%;
	}
	.column { float: left; }
	.size-1of1 { width: 100%; }
	.size-1of2 { width: 50%; }
	.size-1of3 { width: 33.333%; }

	.up-img{
	background-color: rgba(24, 39, 47, .6);
	z-index: 99;
	height: 100px;
	}
	
	.cont-img img{
	z-index: -99;
	}
	
	a.ind-img:hover{
		opacity: .5;
	}

/*************** EVENTOS **************/
.cont-ev{
	overflow:auto;
}
.img-princ{
	width: 45%;
	float: left;
}
.img-princ img{
	width: 100%;
	max-width: 400px;
}
	{
	width: 45%;
	margin-left: 50%;
}
.btn-evento{
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px;
}
.btn-evento a{
	font-family: 'Merriweather';
}
.btn-evento:hover a, .btn-evento:hover button, .btn-evento:hover span{
	color:#18272F;
}
.thumb-evento{
	
}
.titulo-eventos{
	font-weight: bold;
}
.cont-ev-princ{
	height: auto;
}
.cont-ev-ind{
	width: 16%;
	position: relative;
	/*width: 16%;*/
	overflow:auto;
	display: inline-block;
	margin-bottom: 20px;
}
.cont-ev-ind img{
	width: 100%;
	max-width: 150px;
}

#carousel-example-generic2{
	overflow:auto;
}

/********************CONTACTO******************/

.form-group{
	border-style: solid;
	border-color: #BEB172;
	border-width: 1px;
	border-radius: 0px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.form-group > label, .form-group > input{
	position: relative;
	display: inline;
}
.form-group > label{
	width: 20%;

}
.form-group > input{
	height: 30px;
	width:80%;
}
.form-control{
	border-color: #fff;
	border-style: none;
}

.form-control:focus{
	 outline: none;
}
.cont-env{
	padding: 0;
	left:20px;
}
.env{
	background-color: transparent;
	padding: 0;
}

label{
	font-family: 'Merriweather';
	font-style: italic;
	color:#18272F;
}
input { 
	outline: none;
	border-radius: 0px;  
}

.mensaje{
	height: 170px;
}

.mensaje textarea{
	height: 140px;
	resize:none;
}

.lab-form{
	left: 10px;
	width: 30px;
}

.form-group, .cont-env{
	margin: 20px!important;
}
	
/*****************GENERALES*******************/
.blanco{
	color:#fff;
}
.bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 4em 0;
	-webkit-box-shadow: inset 0px 43px 58px -33px rgba(25,25,31,.5);
	-moz-box-shadow: inset 0px 43px 58px -33px rgba(25,25,31,.5);
	box-shadow: inset 0px 43px 58px -33px rgba(25,25,31,.5);
}
.frase{
	font-size: 25px;
	font-style: italic;
}
/*.carousel-control{
	width: 40px;
}*/
.cont-blanco{

	/*background-color:rgba(24, 39, 47, .8)height: 200px;*/
    background: -webkit-linear-gradient(left, #B7BAB8, #fff, #B7BAB8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #B7BAB8, #fff, #B7BAB8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #B7BAB8, #fff, #B7BAB8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #B7BAB8, #fff, #B7BAB8); /* Standard syntax (must be last) */
	padding: 2rem;
	opacity: .9;
	background: #fff9; /* IE 8 y anteriores */
	*background: #fff; /* IE 7 y anteriores */
	_background: #fff; /* IE 6 */
}

.cont-color{
	text-align: center;
	/*background-color:rgba(24, 39, 47, .8)height: 200px;*/
    background: -webkit-linear-gradient(left, #172738 , #003C4C, #172738); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #172738, #003C4C, #172738); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #172738, #003C4C, #172738); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #172738 , #003C4C, #172738); /* Standard syntax (must be last) */
	padding: 5rem;
	background:  #003C4C; /* IE 8 y anteriores */
	*background:  #003C4C; /* IE 7 y anteriores */
	_background: #003C4C; /* IE 6 */

}

.cont-color p, .cont-rojo  p{
	font-size: 18px;
	font-style: italic;
	font-weight: lighter;
}
.cont-rojo{
	text-align: center;
	/*background-color:rgba(24, 39, 47, .8)height: 200px;*/
    background: -webkit-linear-gradient(left, #462328, #742832, #462328); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #462328, #742832, #462328); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #462328, #742832, #462328); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #462328, #742832, #462328); /* Standard syntax (must be last) */
	padding: 5rem;
	background:  #742832; /* IE 8 y anteriores */
	*background:  #742832; /* IE 7 y anteriores */
	_background: #742832; /* IE 6 */

}

.cont-alfa{
	background-color:rgba(0,0,0,.5);
	padding: 3rem;

}

button:focus {
  outline: none;
}

.bot{
	border-style: solid;
	border-color: #BEB172;
	border-width: 1px;
	border-radius: 0px;
	width: 150px;
}

.bot:hover{
	color:#18272F;
	background-color: #DDD6B4;
}

.modal{
	background-color: rgba(255,255,255,.3);
}
.modal-header{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #BEB172;
}

.modal-title{
	font-family: 'Merriweather';
	color:#fff;
}

.modal-content{
	border-radius: 0px;
	text-align: center;
	background-color:rgba(24, 39, 47, .9);
}

.modal-footer{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #BEB172;

}

.cont-frases{
	padding-top: 0px;
}



/**************PAGINA DE EVETOS INDIVIDUALES************/

.img-evento{
	width: 100%;
	margin-bottom: 15px;
}
.cont-evento {
	color:#18272F !important; 
	font-weight: 400;

}
.titulo-evento{
	font-weight: bold;
	font-size: 3em;
	margin-top: 0;
}
.btn{
	border-style: solid;
	border-color: #BEB172;
	border-width: 1px;
	background-color: transparent;
	border-radius: 0px;
	height: 35px;
}
.btn:hover{
	background-color: #DDD7B0;
}
.btn, .btn button{
	color: #18272F !important;
	font-family: 'Merriweather';
	font-weight: bold;
}



/****************MEDIAS****************/


/* Escritorio */
@media(min-width: 1200px){
	
}
/* tablet landscape*/
@media(min-width: 768px) and (max-width: 979px){
	.contimg, .carousel-caption {
		width: 40%!important;
		margin:0!important;
	}
	
	.carousel-caption {
	margin-top: 50px;
	}
	
}

/* Tablet o smartphone grande/landscape */
@media(max-width: 767px){
	
    .contimg, .carousel-caption {
		width: 40%!important;
		margin-left:10px!important;
		margin-right: 10px!important;
		margin-top: 60px!important;
	}
	.item-p{
		height: 350px;
	}

}
@media(max-width: 766px){

	.logo{
			margin-left: 15px;
			width: 30%!important;
			float: left!important;
		}

.menu{
			width: 20%!important;
			margin-right: 15px!important;
			top:10px!important;
		}
}

/* Smartphone portait */
@media(max-width: 480px){
		body{
			padding: 0;
		}
		h1{
			font-size: 3em;
		}
		p{
			font-size: 13px !important;
			font-style: normal !important;
		}
		/*.logo{
			margin-left: 15px;
			width: 30%!important;
			float: left!important;
		}
		*/
		.contimg, .carousel-caption{
			display: block;
			width: 90%!important;
			margin-top: 10px!important;
			text-align: center!important;

		}
		.item-p{
			padding: 20px!important;
		}

			
		.contimg img{
			width: 60%!important;
		}

		.modal-body {
			padding: 5px!important;
		}
		
		.modal-body > img{
			width: 100%;
		}
		
		.btn-evento{
			display: block!important;
			width: 80%!important;
			text-align: center!important;
			margin-left: 0px!important;
		}
		
		/*.menu{
			width: 20%!important;
			margin-right: 15px!important;
			top:10px!important;
		}*/

}

@media screen and (max-width: 480px){
		#grid[data-columns]::before {
			
		}
	}

	@media screen and (min-width: 481px) and (max-width: 768px) {
		#grid[data-columns]::before {
			
		}
	}
	@media screen and (min-width: 769px) {
		#grid[data-columns]::before {
			
		}
	}
